.div1{
    width: 300px;
    height: 500px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    border-radius: 24px;
}

.div2{
    width: 300px;
    height: 500px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    
}

.div3{
    width: 300px;
    height: 500px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    border-radius: 24px;
    
}

.divmaman{
    background-color: beige;
    display: flex;
    justify-content: center;
    height: 100vh;
    gap: 5%;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

}

.divmaman div{
    border-radius: 24px;
    transition: 0.5s ease-in-out;
    padding: 1px;
}

.divmaman div:hover{
    scale: 1.1;
}

img{
    height: 300px;
    animation: monter-descendre 3s infinite ease-in-out;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes monter-descendre {
    0%{
        transform: translateY(0);
    }
    
    50%{
        transform: translateY(-20px);    
    }
    
    100%{
        transform: translateY(0);    
    }
    
}
.btn{
    padding: 5px 10px 6px 10px;
    background: beige;
    border: none;
    border-radius: 10px;
    color: gray;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

.btn:hover{
    cursor: pointer;
    background-color: gray;
    color: beige;
}

.nomBotte{
    font-weight: bold;
    color: black;
    margin: 1rem 0rem;
}