.titre1{
    color: red;
}

.titre2 {
    color: blue;
}
.titre3 {
color: yellow;
}

.titre4 {
    color: beige;
    }
.titre5 {
    font-size: 20px;
        }    

.titre6 {
   font-size: 2rem;
        }
.par1{
    font-weight:bold;
}

.par2{
    font-weight:100;
}

.span1{
    font-family: x;

}
.span2{
    font-family: y;

}

.but {
 border-radius: 10px;
}

.but {
    border-radius: 10%;
   }