.input1{
    padding: 1 rem;
    border: none;
    background: beige;
    text-align: center;
    font-weight: bold;
}
.input2{
    padding: 1 rem;
    border: none;
    background: beige;
    text-align: center;
    font-weight: bold;
}

.input3{
    padding: 1 rem;
    border: none;
    background: beige;
    text-align: center;
    font-weight: bold;
}

.input4{
    padding: 1 rem;
    border: none;
    background: beige;
    text-align: center;
    font-weight: bold;
}

.input5{
    padding: 1 rem;
    border: none;
    background: beige;
    text-align: center;
    font-weight: bold;
}

.input6{
    padding: 1 rem;
    border: none;
    background: beige;
    text-align: center;
    font-weight: bold;
}


.div1{
    width: 200px;
    height: 200px;
    background-color: red;
}
.div2{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.div3{
    width: 200px;
    height: 200px;
    background-color: yellow;
}

.div4{
    width: 200px;
    height: 200px;
    background-color: beige;
}

h1 {
    text-align: center;
}
.divmaman{
    display: flex;
    gap: 30px;
    margin-bottom: 1rem;
}

.divspacebetween{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

}
.divspacearound{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;

}

.divspaceevenly{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.divspaceevenly{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}